# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [14]:
#chipo =pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',)
df=pd.read_csv('C:\\Users\\DELL\\Downloads\\chipotle.tsv',sep='\t')
display(df.head(10))

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. How many products cost more than $10.00?

In [25]:

# Attempt to convert 'item_price' to numeric with errors='coerce'
df['item_price'] = pd.to_numeric(df['item_price'], errors='coerce')




# Filter the DataFrame for products with a price greater than $10.00
product = df[df['item_price'] > 10.00]

# Count the number of rows in the filtered DataFrame
count_product = len(product)

display("Number of products costing more than $10.00:", count_product)

'Number of products costing more than $10.00:'

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [28]:
# Create a new DataFrame with 'item_name' and 'item_price' columns
item_prices_df = df[['item_name', 'item_price']]

# Display the new DataFrame
display(item_prices_df.head(10))

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98
5                           Chicken Bowl       10.98
6                          Side of Chips        1.69
7                          Steak Burrito       11.75
8                       Steak Soft Tacos        9.25
9                          Steak Burrito        9.25

### Step 6. Sort by the name of the item

In [29]:
sort =item_prices_df.sort_values(by='item_name')
display(sort)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### (no)Step 7. What was the quantity of the most expensive item ordered?

In [31]:
df['item_price'] = pd.to_numeric(df['item_price'], errors='coerce')

# Find the row with the maximum 'item_price'
max_price_row = df.loc[df['item_price'].idxmax()]

# Extract the quantity from the row with the maximum price
quantity_of_most_expensive_item = max_price_row['quantity']

print("Quantity of the most expensive item ordered:", quantity_of_most_expensive_item)

Quantity of the most expensive item ordered: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [32]:
# Filter rows where 'item_name' is 'Veggie Salad Bowl'
veggie_salad_orders = df[df['item_name'] == 'Veggie Salad Bowl']

# Count the number of rows in the filtered DataFrame
count_veggie_salad_orders = len(veggie_salad_orders)

display("Number of times a Veggie Salad Bowl was ordered:", count_veggie_salad_orders)

'Number of times a Veggie Salad Bowl was ordered:'

18

### Step 9. How many times did someone order more than one Canned Soda?

In [33]:
# Filter rows where 'item_name' is 'Canned Soda' and 'quantity' is greater than 1
more_than_one_canned_soda_orders = df[(df['item_name'] == 'Canned Soda') & (df['quantity'] > 1)]

# Count the number of rows in the filtered DataFrame
count_more_than_one_canned_soda_orders = len(more_than_one_canned_soda_orders)

print("Number of times someone ordered more than one Canned Soda:", count_more_than_one_canned_soda_orders)

Number of times someone ordered more than one Canned Soda: 20